$base-color: blue;

.container {
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-evenly;
  gap: 10px;
}

.box {
  flex-grow: 1;
  color: white;
  height: 100%;
  display: flex;
  align-items: center;
}

.base-color {
  flex-grow: 2;
  background-color: $base-color;
}

@for $i from 1 through 4 {
  .darken-#{$i} {
    background-color: darken($base-color, 10% * $i);
  }

  .lighten-#{$i} {
    background-color: lighten($base-color, 10% * $i);
  }
}

.color-box-text {
  text-align: center;
  width: 100%;
}